MintoCourseLearnerBot_v2.json
{
  "name": "Minto Course Learner Bot v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "webhookId": "minto-bot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract user data from Telegram update\nconst update = $input.item.json;\nlet tgId, messageText, callbackData, isCallback = false;\n\nif (update.callback_query) {\n  // Handle callback query (inline button click)\n  tgId = update.callback_query.from.id.toString();\n  callbackData = update.callback_query.data || '';\n  messageText = callbackData;\n  isCallback = true;\n} else if (update.message) {\n  // Handle regular message\n  tgId = update.message.from.id.toString();\n  messageText = update.message.text || '';\n  isCallback = false;\n}\n\nreturn {\n  json: {\n    tg_id: tgId,\n    message_text: messageText,\n    callback_data: callbackData || '',\n    is_callback: isCallback,\n    update: update\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "extract-user-data",
      "name": "Extract User Data"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "id": "get-user",
      "name": "Get User from Learners"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ],
      "id": "user-exists-check",
      "name": "User Exists?"
    },
    {
      "parameters": {
        "operation": "create",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Extract User Data').item.json.tg_id }}",
            "first_name": "",
            "last_name": "",
            "position": "",
            "role": "learner",
            "state": "registration_waiting_name",
            "current_module": 0,
            "current_step": 0,
            "module1_done": false,
            "module2_done": false,
            "module3_done": false,
            "exam_done": false,
            "module2_unlocked": false,
            "module3_unlocked": false,
            "exam_unlocked": false,
            "last_answer_text": "",
            "last_answer_file": "",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        900,
        480
      ],
      "id": "create-user",
      "name": "Create New User"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-data",
              "name": "user",
              "value": "={{ $json.items[0] || $json }}",
              "type": "object"
            },
            {
              "id": "tg-id",
              "name": "tg_id",
              "value": "={{ $('Extract User Data').item.json.tg_id }}",
              "type": "string"
            },
            {
              "id": "message-text",
              "name": "message_text",
              "value": "={{ $('Extract User Data').item.json.message_text }}",
              "type": "string"
            },
            {
              "id": "is-callback",
              "name": "is_callback",
              "value": "={{ $('Extract User Data').item.json.is_callback }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        300
      ],
      "id": "prepare-user-context",
      "name": "Prepare User Context"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.role }}",
                    "rightValue": "curator",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curator"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.role }}",
                    "rightValue": "learner",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "learner"
            }
          ]
        },
        "options": {
          "fallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1340,
        300
      ],
      "id": "switch-by-role",
      "name": "Switch by Role"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "registration_waiting_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reg_name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "registration_waiting_lastname",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reg_lastname"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "registration_waiting_position",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reg_position"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "idle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "idle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m1_finished_wait_unlock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m1_wait_unlock"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m2_finished_wait_unlock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m2_wait_unlock"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m3_finished_wait_unlock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m3_wait_unlock"
            }
          ]
        },
        "options": {
          "fallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1560,
        420
      ],
      "id": "switch-learner-state",
      "name": "Switch Learner State"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "👋 Добро пожаловать в курс «Пирамида Минто»!\n\nДля начала обучения мне нужно узнать немного о вас.\n\n📝 Пожалуйста, введите ваше имя:",
        "additionalFields": {
          "reply_markup": {
            "remove_keyboard": true
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        240
      ],
      "id": "reg-ask-name",
      "name": "Registration: Ask Name",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first_name": "={{ $json.message_text }}",
            "state": "registration_waiting_lastname",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2000,
        240
      ],
      "id": "update-name",
      "name": "Update: Save Name"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Имя сохранено!\n\n📝 Теперь введите вашу фамилию:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2220,
        240
      ],
      "id": "reg-confirm-name",
      "name": "Registration: Confirm Name",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "📝 Пожалуйста, введите вашу фамилию:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        360
      ],
      "id": "reg-ask-lastname",
      "name": "Registration: Ask Lastname",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_name": "={{ $json.message_text }}",
            "state": "registration_waiting_position",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2000,
        360
      ],
      "id": "update-lastname",
      "name": "Update: Save Lastname"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Фамилия сохранена!\n\n📝 Теперь введите вашу должность:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2220,
        360
      ],
      "id": "reg-confirm-lastname",
      "name": "Registration: Confirm Lastname",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "📝 Пожалуйста, введите вашу должность:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        480
      ],
      "id": "reg-ask-position",
      "name": "Registration: Ask Position",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "position": "={{ $json.message_text }}",
            "state": "idle",
            "current_module": 1,
            "current_step": 0,
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2000,
        480
      ],
      "id": "update-position",
      "name": "Update: Save Position & Complete Registration"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Регистрация завершена!\n\n🎓 Добро пожаловать в курс «Пирамида Минто»!\n\nВы готовы начать обучение. Используйте кнопки ниже для навигации.",
        "additionalFields": {
          "reply_markup": {
            "keyboard": [
              [
                {
                  "text": "📚 Мой прогресс"
                },
                {
                  "text": "▶️ Продолжить обучение"
                }
              ],
              [
                {
                  "text": "❓ Задать вопрос куратору"
                },
                {
                  "text": "📎 Мои сдачи"
                }
              ]
            ],
            "resize_keyboard": true,
            "one_time_keyboard": false
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2220,
        480
      ],
      "id": "reg-complete",
      "name": "Registration: Complete",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "▶️ Продолжить обучение",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue_learning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "📚 Мой прогресс",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "my_progress"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "📎 Мои сдачи",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "my_submissions"
            }
          ]
        },
        "options": {
          "fallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1780,
        600
      ],
      "id": "switch-idle-menu",
      "name": "Switch: Idle Menu"
    },
    {
      "parameters": {
        "jsCode": "// Determine current module and step, prepare module content\nconst user = $input.item.json.user;\nconst currentModule = user.current_module || 1;\nconst currentStep = user.current_step || 0;\n\n// Module 1 structure (simplified - in production, load from course_structure table)\nconst module1Steps = [\n  {\n    step: 0,\n    type: 'info',\n    title: 'Модуль 1: Принцип пирамиды Минто',\n    text: 'Добро пожаловать в Модуль 1!\n\nВ этом модуле вы изучите:\n• Что такое «Пирамида Минто»\n• Основные принципы структурного мышления\n• SCQR: Situation → Complication → Question → Resolution\n• Применение структуры на рабочих примерах'\n  },\n  {\n    step: 1,\n    type: 'task',\n    title: 'Задание М1.1: Разбор SCQR',\n    text: 'Проанализируйте рабочий кейс и определите:\n• Situation (Ситуация)\n• Complication (Проблема)\n• Question (Вопрос)\n• Resolution (Решение)\n\nНапишите ваш анализ в свободной форме (100-150 слов).'\n  },\n  {\n    step: 2,\n    type: 'task',\n    title: 'Задание М1.2: Переписать письмо',\n    text: 'Вам дано хаотичное письмо клиенту. Перепишите его по принципу пирамиды Минто:\n• Главная мысль в начале\n• 2-3 опоры одного типа\n• Детали и факты\n\nОбъем: 100-150 слов.'\n  },\n  {\n    step: 3,\n    type: 'task',\n    title: 'Задание М1.3: Домашнее задание',\n    text: 'Создайте собственный текст по принципу пирамиды Минто на любую рабочую тему.\n\nТребования:\n• 100-150 слов\n• Главная мысль в начале\n• Структурированные опоры\n• Применение SCQR (опционально)'\n  },\n  {\n    step: 4,\n    type: 'quiz',\n    title: 'Квиз Модуля 1',\n    text: 'Проверьте свои знания по принципу пирамиды Минто.'\n  }\n];\n\nlet stepData = null;\nif (currentModule === 1 && currentStep < module1Steps.length) {\n  stepData = module1Steps[currentStep];\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    current_module: currentModule,\n    current_step: currentStep,\n    step_data: stepData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        600
      ],
      "id": "prepare-module-content",
      "name": "Prepare Module Content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.step_data?.type }}",
              "rightValue": "info",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        600
      ],
      "id": "check-step-type",
      "name": "Check Step Type"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $json.step_data.title }}\n\n{{ $json.step_data.text }}\n\n---\n\nНажмите кнопку ниже, чтобы продолжить:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "▶️ Продолжить",
                  "callback_data": "continue_step"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        540
      ],
      "id": "send-info-step",
      "name": "Send Info Step",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "current_step": "={{ $json.current_step + 1 }}",
            "state": "={{ 'm' + $json.current_module + '_waiting_answer_s' + ($json.current_step + 1) }}",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2660,
        540
      ],
      "id": "update-step-progress",
      "name": "Update Step Progress"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $json.step_data.title }}\n\n{{ $json.step_data.text }}\n\n---\n\n📝 Отправьте ваш ответ текстом или файлом:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Отправить ответ",
                  "callback_data": "submit_answer"
                }
              ],
              [
                {
                  "text": "↩️ Вернуться в меню",
                  "callback_data": "back_to_menu"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        660
      ],
      "id": "send-task-step",
      "name": "Send Task Step",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "={{ 'm' + $json.current_module + '_waiting_answer_s' + $json.current_step }}",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2660,
        660
      ],
      "id": "update-state-waiting-answer",
      "name": "Update State: Waiting Answer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m1_waiting_answer_s1",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m1_s1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m1_waiting_answer_s2",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m1_s2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "m1_waiting_answer_s3",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m1_s3"
            }
          ]
        },
        "options": {
          "fallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1780,
        720
      ],
      "id": "switch-waiting-answer",
      "name": "Switch: Waiting Answer States"
    },
    {
      "parameters": {
        "jsCode": "// Extract answer from message or file\nconst update = $input.item.json.update;\nlet answerText = '';\nlet answerFile = '';\n\nif (update.message) {\n  if (update.message.text) {\n    answerText = update.message.text;\n  } else if (update.message.voice) {\n    answerFile = update.message.voice.file_id;\n    answerText = '[Голосовое сообщение]';\n  } else if (update.message.video) {\n    answerFile = update.message.video.file_id;\n    answerText = '[Видео сообщение]';\n  } else if (update.message.document) {\n    answerFile = update.message.document.file_id;\n    answerText = update.message.document.file_name || '[Файл]';\n  }\n}\n\nconst user = $input.item.json.user;\nconst state = user.state;\n\n// Extract module and step from state (e.g., m1_waiting_answer_s2 -> module=1, step=2)\nconst match = state.match(/m(\\d+)_waiting_answer_s(\\d+)/);\nconst module = match ? parseInt(match[1]) : user.current_module;\nconst step = match ? parseInt(match[2]) : user.current_step;\n\nreturn {\n  json: {\n    ...$input.item.json,\n    answer_text: answerText,\n    answer_file: answerFile,\n    submission_module: module,\n    submission_step: step\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        720
      ],
      "id": "extract-answer",
      "name": "Extract Answer"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_answer_text": "={{ $json.answer_text }}",
            "last_answer_file": "={{ $json.answer_file }}",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2220,
        720
      ],
      "id": "save-answer-temp",
      "name": "Save Answer (Temp)"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Ваш ответ сохранен!\n\nНажмите кнопку «✅ Отправить ответ», чтобы отправить его на проверку.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        720
      ],
      "id": "confirm-answer-saved",
      "name": "Confirm Answer Saved",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_data }}",
              "rightValue": "submit_answer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        840
      ],
      "id": "check-submit-callback",
      "name": "Check: Submit Callback"
    },
    {
      "parameters": {
        "operation": "create",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "module": "={{ $json.user.current_module }}",
            "step": "={{ $json.user.current_step }}",
            "answer_text": "={{ $json.user.last_answer_text }}",
            "answer_file": "={{ $json.user.last_answer_file }}",
            "status": "new",
            "created_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2440,
        840
      ],
      "id": "create-submission",
      "name": "Create Submission"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты — эксперт по принципу пирамиды Минто и структурной коммуникации. Твоя задача — оценивать ответы обучающихся по следующим критериям:\n\n1. **Главная мысль в начале** (0-3 балла)\n   - Есть ли четкая главная мысль в начале текста?\n   - Понятна ли она сразу?\n\n2. **Структурированные опоры** (0-3 балла)\n   - Есть ли 2-3 опоры одного типа?\n   - Логично ли они сгруппированы?\n\n3. **Детали и факты** (0-2 балла)\n   - Подкреплены ли опоры конкретными деталями?\n   - Есть ли иллюстрации и примеры?\n\n4. **Применение SCQR** (0-2 балла, если применимо)\n   - Четко ли выделены Situation, Complication, Question, Resolution?\n\n**Максимальный балл: 10**\n\nВерни ответ в формате JSON:\n{\n  \"score\": число от 0 до 10,\n  \"feedback\": \"развернутый комментарий на русском языке с конкретными рекомендациями\"\n}"
            },
            {
              "role": "user",
              "content": "Задание: {{ $json.user.current_module === 1 ? 'Разбор SCQR на рабочих кейсах' : 'Структурированное сообщение' }}\n\nОтвет обучающегося:\n{{ $json.user.last_answer_text }}\n\nОцени ответ по критериям выше."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2660,
        840
      ],
      "id": "openai-review",
      "name": "OpenAI: Review Submission",
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst openaiResponse = $input.item.json.choices[0].message.content;\nlet aiFeedback = '';\nlet aiScore = 0;\n\ntry {\n  const parsed = JSON.parse(openaiResponse);\n  aiScore = parsed.score || 0;\n  aiFeedback = parsed.feedback || openaiResponse;\n} catch (e) {\n  // If not JSON, use as-is\n  aiFeedback = openaiResponse;\n  // Try to extract score from text\n  const scoreMatch = openaiResponse.match(/[0-9]+(?:\\.[0-9]+)?/);\n  if (scoreMatch) {\n    aiScore = parseFloat(scoreMatch[0]);\n  }\n}\n\nreturn {\n  json: {\n    ...$('Create Submission').item.json,\n    ai_feedback: aiFeedback,\n    ai_score: aiScore\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        840
      ],
      "id": "parse-ai-response",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ai_feedback": "={{ $json.ai_feedback }}",
            "ai_score": "={{ $json.ai_score }}",
            "status": "ai_reviewed"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3100,
        840
      ],
      "id": "update-submission-ai",
      "name": "Update Submission: AI Review"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "role",
              "keyValue": "curator"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3320,
        840
      ],
      "id": "get-curators",
      "name": "Get Curators"
    },
    {
      "parameters": {
        "chatId": "={{ $json.items[0].tg_id }}",
        "text": "📬 Новая сдача задания\n\n👤 Участник: {{ $('Prepare User Context').item.json.user.first_name }} {{ $('Prepare User Context').item.json.user.last_name }}\n📚 Модуль: {{ $('Prepare User Context').item.json.user.current_module }}\n📝 Шаг: {{ $('Prepare User Context').item.json.user.current_step }}\n\n🤖 Предварительная оценка ИИ: {{ $('Parse AI Response').item.json.ai_score }}/10\n\n💬 Комментарий ИИ:\n{{ $('Parse AI Response').item.json.ai_feedback }}\n\n---\n\nОтвет участника:\n{{ $('Prepare User Context').item.json.user.last_answer_text }}\n\n---\n\nВыберите действие:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Одобрить",
                  "callback_data": "curator_approve_{{ $('Create Submission').item.json.id }}"
                },
                {
                  "text": "↩️ Вернуть на доработку",
                  "callback_data": "curator_return_{{ $('Create Submission').item.json.id }}"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3540,
        840
      ],
      "id": "notify-curator",
      "name": "Notify Curator",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.tg_id }}",
        "text": "✅ Ваш ответ отправлен на проверку!\n\n🤖 Предварительная оценка ИИ: {{ $('Parse AI Response').item.json.ai_score }}/10\n\n💬 Комментарий ИИ:\n{{ $('Parse AI Response').item.json.ai_feedback }}\n\nОжидайте финальной оценки от куратора.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3320,
        960
      ],
      "id": "notify-learner-submitted",
      "name": "Notify Learner: Submitted",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $('Prepare User Context').item.json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "current_step": "={{ $('Prepare User Context').item.json.user.current_step + 1 }}",
            "state": "idle",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3540,
        960
      ],
      "id": "update-after-submission",
      "name": "Update After Submission"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "curator_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curator_menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "curator_unlock_module",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curator_unlock"
            }
          ]
        },
        "options": {
          "fallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1560,
        180
      ],
      "id": "switch-curator-state",
      "name": "Switch Curator State"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "👨‍🏫 Панель куратора\n\nВыберите действие:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "👥 Участники",
                  "callback_data": "curator_participants"
                }
              ],
              [
                {
                  "text": "🔓 Открыть модуль",
                  "callback_data": "curator_unlock_module"
                }
              ],
              [
                {
                  "text": "✉️ Написать участнику",
                  "callback_data": "curator_message"
                }
              ],
              [
                {
                  "text": "📢 Рассылка",
                  "callback_data": "curator_broadcast"
                }
              ],
              [
                {
                  "text": "📊 Статистика",
                  "callback_data": "curator_stats"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        180
      ],
      "id": "curator-menu",
      "name": "Curator Menu",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "curator_menu",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2000,
        180
      ],
      "id": "update-curator-state-menu",
      "name": "Update Curator State: Menu"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "🔓 Открытие доступа к модулю\n\nВыберите модуль для открытия:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "Модуль 2",
                  "callback_data": "unlock_module_2"
                }
              ],
              [
                {
                  "text": "Модуль 3",
                  "callback_data": "unlock_module_3"
                }
              ],
              [
                {
                  "text": "Экзамен",
                  "callback_data": "unlock_exam"
                }
              ],
              [
                {
                  "text": "↩️ Назад",
                  "callback_data": "curator_back"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        300
      ],
      "id": "curator-unlock-menu",
      "name": "Curator: Unlock Menu",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Выберите способ открытия:\n\n• Открыть всем, кто прошел предыдущий модуль\n• Выбрать участников вручную",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Открыть всем",
                  "callback_data": "unlock_all_2"
                }
              ],
              [
                {
                  "text": "👥 Выбрать вручную",
                  "callback_data": "unlock_select_2"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        300
      ],
      "id": "curator-unlock-options",
      "name": "Curator: Unlock Options",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "m1_finished_wait_unlock"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "module2_unlocked": true,
            "current_module": 2,
            "current_step": 0,
            "state": "idle",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ],
      "id": "unlock-module-2-all",
      "name": "Unlock Module 2: All"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Модуль 2 открыт для всех участников, завершивших Модуль 1!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        300
      ],
      "id": "confirm-unlock",
      "name": "Confirm Unlock",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "✅ Модуль завершен!\n\nВы прошли Модуль {{ $json.user.current_module }}. Ждите открытия следующего модуля куратором.",
        "additionalFields": {
          "reply_markup": {
            "keyboard": [
              [
                {
                  "text": "📚 Мой прогресс"
                }
              ]
            ],
            "resize_keyboard": true
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        600
      ],
      "id": "module-complete",
      "name": "Module Complete",
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tg_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "module1_done": true,
            "state": "m1_finished_wait_unlock",
            "last_activity_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2220,
        600
      ],
      "id": "mark-module-1-done",
      "name": "Mark Module 1 Done"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Get User from Learners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from Learners": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Prepare User Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New User": {
      "main": [
        [
          {
            "node": "Prepare User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Context": {
      "main": [
        [
          {
            "node": "Switch by Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Role": {
      "main": [
        [
          {
            "node": "Switch Curator State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Learner State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Learner State": {
      "main": [
        [
          {
            "node": "Registration: Ask Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registration: Ask Lastname",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registration: Ask Position",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: Idle Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Module Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Module Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Module Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration: Ask Name": {
      "main": [
        [
          {
            "node": "Update: Save Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Save Name": {
      "main": [
        [
          {
            "node": "Registration: Confirm Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration: Ask Lastname": {
      "main": [
        [
          {
            "node": "Update: Save Lastname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Save Lastname": {
      "main": [
        [
          {
            "node": "Registration: Confirm Lastname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration: Ask Position": {
      "main": [
        [
          {
            "node": "Update: Save Position & Complete Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Save Position & Complete Registration": {
      "main": [
        [
          {
            "node": "Registration: Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Idle Menu": {
      "main": [
        [
          {
            "node": "Prepare Module Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Module Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Module Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Module Content": {
      "main": [
        [
          {
            "node": "Check Step Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step Type": {
      "main": [
        [
          {
            "node": "Send Info Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Task Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Info Step": {
      "main": [
        [
          {
            "node": "Update Step Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Task Step": {
      "main": [
        [
          {
            "node": "Update State: Waiting Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Waiting Answer States": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Answer": {
      "main": [
        [
          {
            "node": "Save Answer (Temp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Answer (Temp)": {
      "main": [
        [
          {
            "node": "Confirm Answer Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Submit Callback": {
      "main": [
        [
          {
            "node": "Create Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Submission": {
      "main": [
        [
          {
            "node": "OpenAI: Review Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Review Submission": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Update Submission: AI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Submission: AI Review": {
      "main": [
        [
          {
            "node": "Get Curators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Curators": {
      "main": [
        [
          {
            "node": "Notify Curator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Curator": {
      "main": [
        []
      ]
    },
    "Notify Learner: Submitted": {
      "main": [
        [
          {
            "node": "Update After Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Curator State": {
      "main": [
        [
          {
            "node": "Curator Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Curator: Unlock Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curator Menu": {
      "main": [
        [
          {
            "node": "Update Curator State: Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curator: Unlock Menu": {
      "main": [
        [
          {
            "node": "Curator: Unlock Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curator: Unlock Options": {
      "main": [
        [
          {
            "node": "Unlock Module 2: All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unlock Module 2: All": {
      "main": [
        [
          {
            "node": "Confirm Unlock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module Complete": {
      "main": [
        [
          {
            "node": "Mark Module 1 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

